{% extends 'base.html' %}


{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <p>{{ article.user }}</p>

    <hr>
    {% if user.is_authenticated %}
        <form action="{% url 'articles:comment_create' article_id=article.id %}" method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit">
        </form>
    {% endif %}

    {% for comment in article.comment_set.all %}
        <li>{{ comment.user }} : {{ comment.content }}</li>
    {% endfor %}
    <hr>
{% endblock %}